# Como funciona esse .env :V
# O .env desse projeto usa o prefixo EXPO_PUBLIC* no qual é reconhecido automaticante pela Expo sem a necessidade de uma biblioteca como dotenv
# A EXPO_PUBLIC_BUN_ENV tem três estados: development, testing and production
# development é usado para testar o Projeto localmente junto com a API "simple-feed-api"
# testing é usado o ngrok para permitir outros endereços IPs além da rede local possam testar o Projeto
# production é usado para não depender da API, pois a mesma é hospedade pelo Render. É apenas necessário o 'npm start ou bun start'
EXPO_PUBLIC_BUN_ENV=your-env
EXPO_PUBLIC_TUNNEL=your-ngrok-tunnel
EXPO_PUBLIC_PRODUCTION=your-public-api